.content{
    width: 600px;
}

.order{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.cost{
    display: flex;
    align-items: center;
}

.icon{
    transform: scale(1.5);
}